<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail campground-thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%=campground.price%></h4>
                    <h4><a><%=campground.name%></a></h4>
                    <p><%= campground.description %></p>
                    <p> 
                        <em>Submitted by: <a href="/users/<%= campground.author.id %>"><%=campground.author.username%></a>, <%= moment(campground.createdAt)%></em>
                    </p>
                      <% if(user && campground.author.id.equals(user._id) || user && user.isAdmin){ %>      
                    <form class="pull-right" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="post">
                        <input class="btn-link delete-btn" type="submit" value="Delete">
                    </form>
                    <a class="btn-link pull-right" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                          <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                          
                            <p>
                                <%= comment.text %> 
                            </p>
                            <span class="pull-right"><%= moment(comment.createdAt)%></span>
                        </div>
                        <% if(user && comment.author.id.equals(user.id) || user && user.isAdmin){ %>
                        <div class="col-md-12">
                            <form class="pull-right" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                                <input class="btn-link delete-btn" type="submit" value="Delete">
                            </form>
                            <a class="btn-link pull-right" href="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>/edit">Edit</a>
                        </div> 
                         <% } %>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
<script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYmVuamFtaW4tb2NoaWVuZyIsImEiOiJjanVsaWw2OGgwa3JmNDRwd3V4Y2dxdDB6In0.qc8dE0523NQrTUF1N-ebtQ';
        let client = new MapboxClient(mapboxgl.accessToken);
     
        client.geocodeReverse({
            longitude:<%= campground.lng %>,
            latitude:<%= campground.lat %>}, 
            function(err,res){
            
            let center = res.features[0].center;
            console.log(center);
            let map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', 
            center:center,
            zoom:8
        });
     
        new mapboxgl.Marker().setLngLat(center).addTo(map);
         
});

</script>

<%- include('../partials/footer') %>
