<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                   <%if(campground.ratings == 0){%>
                    <li class="list-group-item">No ratings yet</li>
                    <%}else{%>
                    <li class="list-group-item">
                        <i class="fa fa-star <%if(campground.ratings >= 1){%> checked <%}%>"></i>
                        <i class="fa fa-star <%if(campground.ratings >= 2){%> checked <%}%>"></i>
                        <i class="fa fa-star <%if(campground.ratings >= 3){%> checked <%}%>"></i>
                        <i class="fa fa-star <%if(campground.ratings >= 4){%> checked <%}%>"></i>
                        <i class="fa fa-star <%if(campground.ratings >= 5){%> checked <%}%>"></i>
                    </li>
                    <%}%>
                <li class="list-group-item">$<%=campground.price%>/night</li>
                <li class="list-group-item">Host: <a href="/users/<%= campground.author.id %>"><%=campground.author.username%></a>, <%= moment(campground.createdAt)%></li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail campground-thumbnail">
                <img class="img-responsive" src="<%= campground.image %>">
                <div class="caption-full">
                        <% if(user && campground.author.id.equals(user._id) || user && user.isAdmin){ %> 
                        <div class="col-sm-12 profile-actions text-right">
                                <a href="/campgrounds/<%= campground._id %>/edit" role="button" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i> Edit</a>                            
                                <form class="thumb-form-inline"action="/campgrounds/<%=campground._id%>?_method=DELETE" method="post">
                                <button type="submit" value="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> Delete</button>
                               </form>
                        </div>
                        <% } %>
                    <h4><a><%=campground.name%></a></h4>
                    <p><%= campground.description %></p> 
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add a review</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                          
                            <p>
                                <%= comment.text %> 
                            </p>
                            <span>
                                <i class="fa fa-star <%if(comment.rating >= 1){%> checked <%}%>"></i>
                                <i class="fa fa-star <%if(comment.rating >= 2){%> checked <%}%>"></i>
                                <i class="fa fa-star <%if(comment.rating >= 3){%> checked <%}%>"></i>
                                <i class="fa fa-star <%if(comment.rating >= 4){%> checked <%}%>"></i>
                                <i class="fa fa-star <%if(comment.rating >= 5){%> checked <%}%>"></i>
                            </span>
                            <span class="pull-right"><%= moment(comment.createdAt)%></span>
                        </div>
                        <% if(user && comment.author.id.equals(user.id) || user && user.isAdmin){ %>
                        <div class="col-md-12">
                            <form class="pull-right" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                                <input class="btn-link delete-btn" type="submit" value="Delete">
                            </form>
                            <a class="btn-link pull-right" href="/campgrounds/<%= campground._id %>/comments/<%=comment._id%>/edit">Edit</a>
                        </div> 
                         <% } %>
                    </div>
                <% }) %>
            </div>
            <div class="text-right">
                <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/">See more reviews</a>
            </div>
        </div>
    </div>
</div>
<script src='https://unpkg.com/mapbox@1.0.0-beta9/dist/mapbox-sdk.min.js'></script>
<script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYmVuamFtaW4tb2NoaWVuZyIsImEiOiJjanVsaWw2OGgwa3JmNDRwd3V4Y2dxdDB6In0.qc8dE0523NQrTUF1N-ebtQ';
        let client = new MapboxClient(mapboxgl.accessToken);
     
        client.geocodeReverse({
            longitude:<%= campground.lng %>,
            latitude:<%= campground.lat %>}, 
            function(err,res){
            
            let center = res.features[0].center;
            console.log(center);
            let map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', 
            center:center,
            zoom:8
        });
     
        new mapboxgl.Marker().setLngLat(center).addTo(map);
         
});

</script>

<%- include('../partials/footer') %>
